@import 'common.css';
@import 'main.css';
/******header start*******/
.MediaList {
  height: 100%;
}
.MediaList .MediaLi {
  display: inline-block;
  width: 145px;
  height: 100%;
  padding: 13px 0;
}
.MediaList .MediaLi:hover {
  background: #fff;
}
.MediaList .MediaLi + .MediaLi {
  margin-left: -4px;
}
.MediaList .MediaLi + .MediaLi .MediaLiContent {
  border-left: 1px solid #e2e2e2;
}
.MediaList .MediaHref {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.MediaList .IconMedia {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  left: 13px;
  top: -6px;
}
.MediaList .MediaText {
  margin-left: 52px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: -2px;
}
.MediaList .MediaLi:first-child {
  width: 130px;
}
.MediaList .MediaLi:first-child .MediaText {
  margin-left: 47px;
}
.MediaList .MediaLi:first-child .IconWeibo {
  left: 7px;
}
.MediaList .IconWeibo {
  background: url('../img/weibo.png') no-repeat;
  background-size: 100% 100%;
}
.MediaList .IconWeixin {
  background: url('../img/weixin.png') no-repeat;
  background-size: 100% 100%;
}
.MediaList .IconPhone {
  background: url('../img/phone.png') no-repeat;
  background-size: 100% 100%;
}
.HeaderRightCon {
  padding: 13px 0;
}
.HeaderRightCon .MediaHref {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.HeaderRightCon .IconMedia {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  left: 13px;
  top: -6px;
}
.HeaderRightCon .MediaText {
  margin-left: 52px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: -2px;
  font-size: 15px;
}
.HeaderRightCon .MediaText i {
  font-style: normal;
}
.HeaderRightCon .IconCal {
  background: url('../img/date.png') no-repeat;
  background-size: 100% 100%;
}
/******header end*******/
/******section start*******/
/******headerSection start*******/
.TitleDiv {
  width: 709px;
  height: 100%;
  background: url('../img/logo_title.png') no-repeat;
}
.LoginDiv {
  margin-top: 11px;
  min-width: 142px;
  height: 44px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 22px;
}
.LoginDiv:hover {
  transform: translateY(-1px);
  box-shadow: 0px 2px 5px 3px rgba(27, 28, 51, 0.2);
}
.LoginText {
  margin-top: -2px;
  height: 100%;
  line-height: 44px;
  font-size: 18px;
  color: #24a2f2;
  font-weight: 700;
  text-align: center;
}
.p-after:after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 40px;
  background: -webkit-linear-gradient(left, transparent, #fff 55%);
  background: -moz-linear-gradient(left, transparent, #fff 55%);
  background: -o-linear-gradient(left, transparent, #fff 55%);
  background: linear-gradient(to right, transparent, #fff 55%);
}
/******mainContent start*******/
.mainContent {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
.SelfIndicators {
  text-align: right;
  left: 0;
  width: 100%;
  margin-left: 0;
  padding-right: 13px;
  bottom: 7px;
}
.SelfIndicators li {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 1px 3px 1px  1px;
}
.SelfIndicators .active {
  background: #ffffff;
  margin: 1px 3px 1px  1px;
}
@media screen and (min-width: 768px) {
  .selfCarouselCaption {
    right: 0!important;
    left: 0!important;
  }
}
.selfCarouselCaption {
  width: 730px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  padding: 8px 20px 12px;
  text-align: left;
  bottom: 36px;
}
.selfCarouselCaption .linkA {
  color: #fff;
}
.selfCarouselCaption .selfTitle {
  font-size: 22px;
  line-height: 38px;
  color: #fff;
}
.selfCarouselCaption .li-heading {
  font-size: 14px;
  line-height: 22px;
  color: #e3e3e3;
}
.selfCarouselCaption .linkA:hover {
  color: #fff;
}
.selfCarouselCaption .headTwoLine.p-after:after {
  color: #e3e3e3;
  background: transparent;
}
.selfCarouselCaption:hover {
  background: rgba(0, 0, 0, 0.5);
}
.selfCarouselCaption:hover .linkA {
  color: #fff;
}
.topSection .RightRow {
  background: #fff;
}
.selfTabs {
  height: 48px;
}
.selfTabs li.selfTab {
  border-bottom: 3px solid #d3ecfc;
}
.selfTabs li.selfTab:hover .RightTableDiv {
  padding: 0 20px!important;
  display: none;
}
.selfTabs li.active > a {
  border-bottom: 3px solid #1d95e0;
}
.selfTabs li + li {
  margin-left: 0;
}
.selfTabs li.selfTab > a {
  font-weight: 700;
  font-size: 18px;
  color: #666666;
  background: transparent;
  border-radius: 0;
}
.selfTabs li.selfTab > a:focus,
.selfTabs li.selfTab > a:hover,
.selfTabs li.active > a:focus,
.selfTabs li.active > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.selfTabs li.active > a {
  color: #1d95e0!important;
  background: transparent;
}
.RightTableDiv {
  padding: 0 20px!important;
  display: none;
}
.selfTable {
  width: 100%;
}
.selfTable tr {
  border-bottom: 1px dashed #e5ebf2;
}
.headerRightTable tr {
  height: 70px;
  padding: 13px 0;
}
.headerRightTable tr td:nth-child(1) {
  width: 73px;
  padding-right: 13px;
}
.headerRightTable tr td:nth-child(2) {
  text-align: left;
}
.li-left {
  width: 62px;
  height: 48px;
  text-align: center;
  padding-top: 6px;
  background: url('../img/part2_date.png') no-repeat;
}
.li-left .date {
  font-size: 18px;
  color: #333333;
  line-height: 18px;
}
.li-left .year {
  font-size: 14px;
  color: #666666;
}
.li-heading {
  position: relative;
  font-size: 14px;
  line-height: 23px;
  text-align: left;
  overflow: hidden;
}
.moreDiv {
  height: 35px;
  padding: 10px 0;
}
.more {
  margin-top: 2px;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #999999;
  text-align: center;
}
.more .moreIcon {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url('../img/more.png') no-repeat;
  margin-left: 2px;
}
/******centerSection start*******/
.centerSection .leftRow .insideRow {
  width: 370px;
  height: 310px;
  background: #fff;
}
.centerSection .rightRow {
  background: #fff;
}
.moreDiv2 {
  height: 46px;
  padding: 14px 0;
}
.moreDiv2 .more {
  padding-right: 18px;
  text-align: right;
}
.headLineList {
  overflow: hidden;
  padding-top: 3px;
}
.headLineLi {
  width: 100%;
  height: 42px;
  padding: 10px 0;
}
.headLineLi .lineMarkIcon {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  margin-top: 7px;
  background: url('../img/list_li.png') no-repeat;
}
.headLineLi .headLine {
  width: 220px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.headLineLi .date {
  width: 80px;
  line-height: 22px;
  text-align: right;
  color: #999999;
}
.headLineLi + .headLineLi {
  border-top: 1px dashed #e5ebf2;
}
.linkA {
  display: block;
  width: 100%;
  height: 100%;
}
.relativeSystemList .item {
  width: 380px;
  height: 70px;
  margin-bottom: 10px;
}
.relativeSystemList .SpecialFunds {
  background: url('../img/pic1.png') no-repeat;
}
.relativeSystemList .WebsiteEditing {
  background: url('../img/pic2.png') no-repeat;
}
.relativeSystemList .SoilEnvironment {
  background: url('../img/pic3.png') no-repeat;
}
.relativeSystemList .NuclearRadiationSafety {
  background: url('../img/pic4.png') no-repeat;
}
/******bottomSection start*******/
.bottomSection {
  border: 1px solid #e5ebf2;
  background: #fff;
}
.bottomSection .contentDiv {
  height: 88px;
  padding: 21px 20px;
}
.selectList {
  height: 46px;
  /******selectContent start*******/
  /******selectContent end*******/
}
.selectList .selectLi {
  height: 46px;
  width: 210px;
  border: 1px solid #e5ebf2;
  padding: 15px 16px;
  background: #f5f8fb;
  position: relative;
}
.selectList .selectLiTitle {
  line-height: 14px;
}
.selectList .selectLi:hover .selectContent {
  display: block;
}
.selectList .selectLi:hover .downIcon {
  transform: rotate(0deg);
}
.selectList .selectContent {
  position: absolute;
  background: #f5f8fb;
  border: 1px solid #e5ebf2;
  width: 100%;
  max-height: 228px;
  display: none;
  bottom: 45px;
  left: 0;
  box-shadow: 0px 0px 7px 4px rgba(143, 194, 225, 0.3);
}
.selectList .ContentLi {
  height: 45px;
}
.selectList .ContentLi .linkA {
  background: #fff;
  width: 100%;
  padding: 15px 0 12px 20px;
  color: #333333;
  line-height: 14px;
}
.selectList .ContentLi:hover .linkA {
  background: #24a2f2;
  color: #fff;
}
.downIcon {
  display: inline-block;
  width: 10px ;
  height: 6px;
  position: relative;
  top: 4px;
  background: url('../img/friendlylink_xl.png') no-repeat;
  cursor: pointer;
  transform: rotate(180deg);
}
.border {
  border: 1px solid yellow;
}
.bottomSection .selfTabs {
  border-bottom: 1px solid #e5ebf2;
}
/******section end*******/
/******footer start*******/
.footerSection {
  text-align: center;
  color: #333;
  padding: 18px 0;
}
.footerText {
  line-height: 14px;
}
.footerText + .footerText {
  margin-left: 20px;
}
/******footer end*******/
/******滚动条 start*******/
.mCSB_inside > .mCSB_container {
  margin-right: 0px;
}
.mCSB_scrollTools {
  background-color: #ffffff;
  width: 4px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  background: transparent;
}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  margin: 0;
  width: 100%;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #c9d4e0;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  border-radius: 2px;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #b7cee6;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
