@import './common.css';
@import './main.css';
@mainTextColor:#333333;
@subTextColor:#666666;
@lightTextColor:#999999;
@titleFontSize:18px;
@perFontSize:14px;
@splitColor:#e5ebf2;
@activeColor:#24a2f2;
#selfIcon(){
	.MediaHref{
		display: block;
		width:100%;
		height: 100%;
		position: relative;
	}
	.IconMedia{
		position: absolute;
		display: inline-block;
		width: 32px;
		height:32px;
		left: 13px;
		top: -6px;
	}
	.MediaText{
		margin-left: 52px;
		font-size: 16px;
		line-height: 24px;
		position: relative;
		top: -2px;
	}
}

/******header start*******/
.MediaList{
	height: 100%;
	.MediaLi{
		display:inline-block;
		width: 145px;
		height: 100%;
		padding: 13px 0;
	}
	.MediaLi:hover{
		background: #fff;
	}
	.MediaLi+.MediaLi{
		margin-left: -4px;
		.MediaLiContent{
			border-left: 1px solid #e2e2e2;
		}
	}
	.MediaHref{
		#selfIcon.MediaHref();
	}
	.IconMedia{
		#selfIcon.IconMedia();
	}
	.MediaText{
		#selfIcon.MediaText();
	}
	.MediaLi:first-child{
		width: 130px;
		.MediaText{
			margin-left: 47px;
		}
		.IconWeibo{
			left: 7px;
		}
	}
	.IconWeibo{
		background: url('../img/weibo.png') no-repeat;
		background-size: 100% 100%;
	}
	.IconWeixin{
		background: url('../img/weixin.png') no-repeat;
		background-size: 100% 100%;
	}
	.IconPhone{
		background: url('../img/phone.png') no-repeat;
		background-size: 100% 100%;
	}
}
.HeaderRightCon{
	padding: 13px 0;
	.MediaHref{
		#selfIcon.MediaHref();
	}
	.IconMedia{
		#selfIcon.IconMedia();
	}
	.MediaText{
		#selfIcon.MediaText();
		font-size: 15px;
		i{
			font-style: normal;
		}
	}
	.IconCal{
		background: url('../img/date.png') no-repeat;
		background-size: 100% 100%;
	}
}
/******header end*******/
/******section start*******/
	/******headerSection start*******/
.TitleDiv{
	width: 709px;
	height:100%;
	background: url('../img/logo_title.png') no-repeat;
}
.LoginDiv{
	margin-top: 11px;
	min-width: 142px;
	height:44px;
	border: 1px solid #fff;
	background: #fff;
	border-radius: 22px;
}
.LoginDiv:hover{
	transform: translateY(-1px);
	box-shadow: 0px 2px 5px 3px rgba(27, 28, 51, 0.2);
}
.LoginText{
	margin-top: -2px;
	height:100%;
	line-height: 44px;
	font-size: @titleFontSize; 
	color:@activeColor;
	font-weight: 700;
	text-align: center;
}
.p-after:after {
	content: "...";
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 40px;
	background: -webkit-linear-gradient(left, transparent, #fff 55%);
	background: -moz-linear-gradient(left, transparent, #fff 55%);
	background: -o-linear-gradient(left, transparent, #fff 55%);
	background: linear-gradient(to right, transparent, #fff 55%);
}
	/******mainContent start*******/
.mainContent{
	background: rgba(255,255,255,0.3);
	border-radius: 3px;
}

.SelfIndicators{
	text-align: right;
    left: 0;
	width: 100%;
	margin-left: 0;
	padding-right: 13px;
	bottom:7px;
	li{
		width: 12px;
		height:12px;
		background: rgba(255, 255, 255, .5);
		border: none;
		margin:1px 3px 1px  1px;
	}
	.active{
		background: rgba(255, 255, 255,1);
		margin:1px 3px 1px  1px;
	}
}
@media screen and (min-width: 768px){
	.selfCarouselCaption {
		right: 0!important; 
		left:0!important; 
	}
}
.selfCarouselCaption{
	width:730px;
	margin: 0 auto;
	background: rgba(0, 0, 0,.35);
	overflow: hidden;
	padding:8px 20px 12px;
	
	text-align: left;
	bottom: 36px;
	.linkA{
		color:#fff;
	}
	.selfTitle{
	   font-size:22px;
	   line-height: 38px;
	   color:#fff;
	}
	.li-heading{
		font-size:14px;
		line-height: 22px;
		color:#e3e3e3;
	}
	.linkA:hover{
		color:#fff;
	}
	.headTwoLine.p-after:after{
		color:#e3e3e3;
		background: transparent;
		
	}
}
.selfCarouselCaption:hover{
	background: rgba(0, 0, 0,.5);
	.linkA{
		color:#fff;
	}
}
.topSection .RightRow{
	background:#fff; 
}
.selfTabs{
	height:48px;
	li.selfTab{
		border-bottom: 3px solid #d3ecfc;
	}
	li.selfTab:hover{
		//border:none;
		.RightTableDiv{
			padding:0 20px!important;
			display: none;
		}
	}
	li.active>a{
		border-bottom: 3px solid #1d95e0;
	}
	li+li{
	  margin-left: 0;	
	} 
	li.selfTab>a{
	   font-weight: 700;
	   font-size: @titleFontSize;
	   color:@subTextColor;
	   background: transparent;
	   border-radius: 0;
	}
	li.selfTab>a:focus,li.selfTab>a:hover,
	li.active>a:focus,li.active>a:hover{
		background-color: rgba(255, 255, 255, .5);
	}
	li.active>a{
		color:#1d95e0!important;
		background: transparent;
	}
}

.RightTableDiv{
	padding:0 20px!important;
	display: none;
}
.selfTable{
	width: 100%;
	tr{	
		border-bottom: 1px dashed @splitColor;
	}
	
}

.headerRightTable{
	tr{
		height: 70px;
		padding:13px 0;
		td:nth-child(1){
			width: 73px;
			padding-right: 13px;
		}
		td:nth-child(2){
			text-align: left;
		}
	}

}
.li-left{
	width: 62px;
	height: 48px;
	text-align: center;
	padding-top: 6px;
	background: url('../img/part2_date.png') no-repeat;
	.date{
		font-size: @titleFontSize;
		color:@mainTextColor;
		line-height: 18px;
	}
	.year{
		font-size: @perFontSize;
		color:@subTextColor;
	}
	
}
.li-heading{
	position: relative;
	font-size: 14px;
	// color: #868789;
	line-height: 23px;
	text-align: left;
	overflow: hidden;
}


.moreDiv{
   height:35px;
   padding: 10px 0;
}
.more{
	margin-top: 2px;
	position: relative;
	font-size: @perFontSize;
	line-height: @perFontSize;
	color:@lightTextColor;
	text-align: center;
	.moreIcon{
		display: inline-block;
		width: 11px;
		height:10px;
		background: url('../img/more.png') no-repeat;
		margin-left: 2px;
	}
}
/******centerSection start*******/
.centerSection{
   .leftRow{
	   
	   .insideRow{
		width: 370px;
		height:310px;
		background: #fff;
	   }
   }
   .rightRow{
		background: #fff;
	}
}
.moreDiv2{
	height: 46px;
	padding: 14px 0;
	.more{
		padding-right:18px;
		text-align: right;
	}
}
.headLineList{
   overflow: hidden;
   padding-top:3px;
}
.headLineLi{
	width: 100%;
	height: 42px;
	padding: 10px 0;
	.lineMarkIcon{
		width:8px;
		height:8px;
		margin-right: 10px;
		margin-top:7px; 
		background: url('../img/list_li.png') no-repeat;
	}
	.headLine{
		width:220px;
		line-height: 22px;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		white-space: nowrap;	
		color: @mainTextColor;
		// .text:hover{
		// 	color: #1a7ee2;
		// }
	} 
	.date{
		width: 80px;
		line-height: 22px;
		text-align: right;
		color: @lightTextColor;
	}
}
.headLineLi+.headLineLi{
    border-top:1px dashed @splitColor;
}
.linkA{
	display:block;
	width:100%;
	height:100%;
}
.relativeSystemList{
	.item{
		width:380px;
		height:70px;
		margin-bottom:10px;
	}
	.SpecialFunds{
		background: url('../img/pic1.png') no-repeat;
	}
	.WebsiteEditing{
		background: url('../img/pic2.png') no-repeat;
	}
	.SoilEnvironment{
		background: url('../img/pic3.png') no-repeat;
	}
	.NuclearRadiationSafety{
		background: url('../img/pic4.png') no-repeat;
	}
}

	/******bottomSection start*******/
.bottomSection{
   border: 1px solid @splitColor;
   background: #fff;
    .contentDiv{
		height:88px;
		padding:21px 20px;
    }
}
.selectList{
	height:46px;
	
	.selectLi{
		height:46px;
		width: 210px;
		border: 1px solid @splitColor;
		padding: 15px 16px;
		background: #f5f8fb;
		position: relative;
	}
	.selectLiTitle{
		line-height: 14px;
	}
	/******selectContent start*******/
	.selectLi:hover{
		.selectContent{
			display:block;
		}
		.downIcon{
			transform: rotate(0deg);	
		}
	}
	.selectContent{
		position: absolute;
		background: #f5f8fb;
		border: 1px solid @splitColor;
		width: 100%;
		max-height:228px;
		display: none;
		bottom:45px;
		left: 0;
		box-shadow: 0px 0px 7px 4px rgba(143, 194, 225, 0.3);
	}
	
	.ContentList{
	}
	.ContentLi{
		height:45px;
		.linkA{
			background: #fff;
			width:100%;
			padding:15px 0 12px 20px; 
			color: @mainTextColor;
			line-height: 14px;
		}
	}
	.ContentLi:hover{
        .linkA{
			background: #24a2f2;
			color:#fff;
		}
	}
	/******selectContent end*******/
}

.downIcon{
	display: inline-block;
	width: 10px ;
	height:6px;
	position: relative;
	top:4px;
	background: url('../img/friendlylink_xl.png') no-repeat;
	cursor: pointer;
	transform: rotate(180deg);
}

.border{
	border: 1px solid yellow;
}
.bottomSection .selfTabs{
	border-bottom: 1px solid @splitColor;
}
/******section end*******/
/******footer start*******/
.footerSection{
	text-align: center;
	color:#333;	

	
	padding:18px 0;
}
.footerText{
	line-height: 14px;
}
.footerText+.footerText{
	margin-left:20px;
}
/******footer end*******/
/******滚动条 start*******/
.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}
.mCSB_scrollTools{
	background-color: rgba(255, 255, 255,1);
	width: 4px;
	.mCSB_draggerRail {
		width: 100%;
		background:transparent;
	}
}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
	margin:0;
	width:100%; 
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(201, 212, 224,1);
    filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
	border-radius:2px;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(183, 206, 230, 1);
     filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}